<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friends</title>
  </head>
  <body>
    <div id="app">
      <h2>Statistics</h2>
      <ul>
        <li v-for="(stat, type) in benderStatistics">
          {{ type }}: {{ stat }}
        </li>
        <!-- {{ benderStatistics }} -->
      </ul>
      <!-- Placeholder for Character list -->
      <h1>Favorite List</h1>
      <ul v-if="favoriteList.length > 0">
        <li v-for="character in favoriteList">{{ character }}</li>
      </ul>
      <p v-else>There are no Favorites</p>
      <h2>New character</h2>
      <pre>{{ newCharacter }}</pre>
      <label for="name">Name</label>
      <input type="text" v-model="newCharacter.name" @keyup.enter="addNewCharacter">
      <p>
        <span v-for="(character,index) in characterList">
          {{ character.name }}
          {{ index === characterList.length - 1 ? " " : ", "}}
        </span>
      </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.min.js"></script>

    <script>
      Vue.createApp({
        data: () => ({
          newCharacter: {
            name: "",
            element: []
          },
        }),
        computed: {
          benderStatistics() {
            const elements = ["Air", "Earth", "Fire", "Water"]
            const statistics = {
              Air: 0,
              Earth: 0,
              Water: 0,
              Fire: 0
            }

            this.characterList.forEach(character => {
              elements.forEach(element => {
                if (character.element.indexOf(element) > -1) {
                  statistics[element] += 1
                }
              })
            })

            return statistics
          }
        },
        methods: {
          addNewCharacter() {
            this.characterList.push(this.newCharacter)
            this.newCharacter = { name: ""}
            console.log(this.newCharacter);
          },
          addToFav(character) {
            this.favoriteList.push(character)
          }
        }
      }).mount("#app")
    </script>
  </body>
</html>