<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friends</title>
  </head>
  <body>
    <div id="app">
      <p v-if="characterList.length === 0">There are no characters</p>
      <ul v-else>
        <li v-for="character in characterList">
          <p>{{ character.name }}</p>
          <button @click="addToFav(character)">⭐Favorite</button>
        </li>
      </ul>
      <h1>Favorite List</h1>
      <ul v-if="favoriteList.length > 0">
        <li v-for="character in favoriteList">{{ character }}</li>
      </ul>
      <p v-else>There are no Favorites</p>
      <h2>New character</h2>
      <pre>{{ newCharacter }}</pre>
      <label for="name">Name</label>
      <input type="text" v-model="newCharacter.name" @keyup.enter="addNewCharacter">
      <p>
        <span v-for="(character,index) in characterList">
          {{ character.name }}
          {{ index === characterList.length - 1 ? " " : ", "}}
        </span>
      </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.min.js"></script>

    <script>
      Vue.createApp({
        data: () => ({
          newCharacter: {
            name: ""
          },
          characterList: [
            {
              name: "Joey",
              age: 20
            },
            {
              name: "Ross",
              age: 25
            },
            {
              name: "Monica",
              age: 15
            },
            {
              name: "Chandler",
              age: 22
            },
            {
              name: "Racheal",
              age: 15
            }
          ],
          favoriteList: []
        }),
        
        methods: {
          addNewCharacter() {
            this.characterList.push(this.newCharacter)
            this.newCharacter = { name: ""}
            console.log(this.newCharacter);
          },
          addToFav(character) {
            this.favoriteList.push(character)
          }
        }
      }).mount("#app")
    </script>
  </body>
</html>